header.site-header {
	text-align: center;
	border-bottom: 5px solid lighten( $teal, 13%);
	position: relative;
	z-index: 100;
	background-color: #fff;

	.header-main {
		max-width: $break-large;
		margin: 0 auto;
	}

	#primary-navigation {
		list-style-type: none;
		margin: 0 auto;
		padding: 0 0 40px;
		display: inline-block;
		margin: 0 auto;
		font-size: 1em;
		text-align: center;
		float: none;

		#newsletterToggle, .newsletterToggle, #newsletter {
			display: none;
		}


		li {
			float: left;
			text-transform: uppercase;
			padding: 20px;

			a {
				color: $brown;
				text-decoration: none;
				font-weight: normal;
			}
			a:hover {
				color: $teal;
				text-decoration: none;
				background: none;
			}
		}
		li:hover, li.focus, li:hover a, li.focus a {
			background-color: transparent;
		}
	}
	#primary-navigation.fixed {
		position: fixed;
		top: 0;
		left: 0;
		background-color: $lgray;
		width: 100%;
		padding: 0;
		border-bottom: 1px solid darken($lgray, 5%);
		font-size: 0.9em;

		.nav-menu {
			position: relative;
			left: 18%;
		}

		.container {
			background: url(../images/logo-sm.gif) 0% 45% no-repeat;
			padding: 0;
			display: inline-block;
			width: 85%;
			max-width: $break-large;
			position: relative;
		}

		#newsletterToggle, .newsletterToggle {
			position: absolute;
			right: 0;
			z-index: 155;
			display: inline-block;
			cursor: pointer;
			top: 5px;
			

			p {
				margin: 0;
				padding: 0;
				display: inline-block;
				color: darken($lgray, 30%);
				vertical-align: top;
				line-height: 3.1em;
				text-transform: none;
			}

			span {
				font-size: 3em;
				color: darken($lgray, 30%);
			}
			.close {
				background-color: #fe57a1;
				border-radius: 20px;
				padding: 7px 4px 0;
				font-size: 0.7em;
				line-height: 0em;
				color: #f2f0f0;
				position: absolute;
				right: 0%;
				top: 53%;
				z-index: 180;
				height: 7px;
				width: 7px;
				text-align: center;
				display: none;
				border: 1px solid #fff;
			}
		}
		.newsletterToggle:hover {
			
			p {
				color: darken($lgray, 40%);
			}
			span {
				color: darken($lgray, 40%);
			}
			.close {
				color: $lgray;
				background-color: darken(#fe57a1, 10%);
			}
		}
		#newsletter {
			width: 100%;
			position: absolute;
			height: 100%;
			background-color: $lgray;
			display: none;
			top: 0;
			left: 0;
			z-index: 150;


			#mc_embed_signup {

				input, p.title {
					float: left;
					margin-right: 15px;
				}
				p.title {
					display: inline-block;
					font-weight: bold;
					line-height: 2.5em;
				}
				input[type="email"] {
					background-color: #fff;
					border: 1px solid darken($lgray, 10%);
					width: 35%;
				}
				input[type="submit"] {
					background-color: $teal;
					color: #fff;
					font-weight: lighter;
					font-size: 1em;
					padding: 9px 15px;
				}
				input[type="submit"]:hover, input[type="submit"]:active {
					background-color: $green;
				}
				.button1:before {
					content: 'b';
				}
			}
		}

		li {
			padding: 0;

			a {
				padding: 4px 20px;
				display: inline-block;
			}
			a:hover {
				background-color: #fff;
			}

		}
		li.current-menu-item, li.current-category-ancestor {
			a {
				background-color: #fff;
				color: $teal;
			}
			a:hover {
				color: darken($green, 10%);
			}
		}
	}
	.logo img {
		background: url(../images/logo-bottom.png) 100% 50% no-repeat;
		height: auto;
		width: 50%;
		max-width: 196px;
		padding: 40px 150px 135px;
		position: absolute;
		left: 50%;
		margin-left: -240px;
		top: 50px;
	}
	.logo img {
		background-size: 100%;
	}
}
.category-3 header.site-header #primary-navigation.fixed li.current-category-ancestor {
	a {
				color: $brown;
				text-decoration: none;
				font-weight: normal;
				background-color: transparent;
			}
			a:hover {
				color: $teal;
				text-decoration: none;
				background-color: #fff;
			}
}
@media screen and (min-width: $break-large) {
	header.site-header {
		
		#primary-navigation.fixed {
			.container {
				padding-left: 0;
			}
		}
	}
}
@media screen and (max-width: 1000px) {
	.newsletterToggle p {
		display: none !important;
	}
}
@media screen and (max-width: 782px) {
	header.site-header {
		background: #fff;
		padding: 100px 0px 0px;

		.header-main {
			padding: 0;
		}

		.logo img {
			top: 64px;
			z-index: 100;
		}
		#primary-navigation.fixed {

			.container {

				.newsletterToggle {
					right: 5%;
					top: 2px;
				}
			}
			#newsletter {
					background: none;
					p.title {
						display: none !important;
					}
				}
		}
		#primary-navigation.toggled-on {
			float: right;
			width: 100%;
			margin: 30px 0 0;
			padding: 0;

			.container {
				padding: 0;
				background: none;
				width: 100%;

				.nav-menu {
					left: 0;
				}
				.newsletterToggle {
					right: 15%;
					top: 15px;
				}
			}
			

			li {
				border-bottom: 1px dotted #fff;
				float: none;
				width: 100%;
				text-align: left;
				background-color: $teal;
				padding: 0;
				position: relative;
				z-index: 150;
				a {
					color: #fff;
					padding: 20px;
				}
				a:hover {
					color: $lgray;
				}
			}
			li:hover, li.focus {
				background-color: darken($teal, 10%);
			}
			li:last-child {
				border-bottom: 0;
			}
			.menu-toggle {
				background-color: $teal;
			}
			.menu-toggle:before {
				color: #fff;
				content: "\f406";
			}
			.nav-menu {
				margin-top: -25px;
			}
		}
		#primary-navigation.fixed, #primary-navigation.fixed.toggled-on {
			float: none;
			background-color: $lgray;
			display: inline-block;
			height: 75px;
			margin-top: 0;

			.menu-toggle {
				top: 0;
			}

			li {
			padding: 0;

			a {
				padding: 20px;
				display: block;
			}
			a:hover {
				background-color: darken($teal, 10%);
			}

		}
			
		}
		#primary-navigation.fixed.toggled-on {

			.nav-menu {
				margin-top: 75px;
			}
		}
	}
	.menu-toggle {
		height: 75px;
		width: 75px;
		top: 30px;
	}
	
	.menu-toggle:before {
		color: $teal;
		font-size: 40px;
	}
}

